<div class="bodyContent">
    <h1 class="mainHeading">{{pageTitle}}</h1>
    <div class="formContainer" >
        <h2>Vehicle Details</h2>
        <table class="vehicleDetails">
            <tr>
                <th>Description</th>
                <th>Registration Number</th>
                <th>Total Liters</th>
                <th>Total Amount</th>
                <th>Mileage</th>
                <th>Fuel Consumption</th>
            </tr>
            {{#if vehicle}}
            <tr>
                <td>{{vehicle.description}}</td>
                <td>{{vehicle.reg_number}}</td>
                <td>{{vehicle.total_liters}}</td>
                <td>R {{formatDecimal vehicle.total_amount}}</td>
                <td>{{vehicle.total_distance}}</td>
                <td>{{vehicle.fuel_consumption}}</td>
            </tr>
            {{/if}}
        </table>
        <form action="/refuel/{{vehicle.id}}" method="post">
            <h3>Refuel form</h3>
            <input type="text" name="odometer" id="txtOdometer" class="txtBox" placeholder="distance travelled e.g. 500">
            <input type="number" name="liters" id="txtLiters" class="txtBox" placeholder="Liters of fuel e.g 10">
            <input type="number" name="amount" id="txtAmount" class="txtBox" placeholder="Cost of Fuel e.g 1000">
            <div class="fillUp">
                <label for="filledUp">Did you fill up the vehicle?</label>
                <select name="filledUp" id="fillUp">
                    <option value='true'>Yes</option>
                    <option value='false'>No</option>
                </select>
            </div>            
            <input type="submit" value="Add" class="btn">
        </form>
    </div>
    <div class="formContainer" >
        <h2>Refueling History</h2>
        <table class="refuelDetails">
        <tr>
            <th>Date</th>
            <th>Odometer reading</th>
            <th>Liters</th>
            <th>Paid</th>
            <th>Filled Up</th>
        </tr>
        {{#each refuelData}}
        <tr>
            <td>{{formatDate this.created_at}}</td>
            <td>{{this.distance}}</td>
            <td>{{this.liters}}</td>
            <td>{{this.amount_paid}}</td>
            <td>{{bool this.full_tank_refill}}</td>
        </tr>
        {{/each}}
    </table>
    </div>
    
    <form action="/return" method="post">
        <input type="submit" value="Back to home" class="btn">
    </form>
</div>